@model List<TaskItem>


<h2>Tasks</h2>
<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TaskItem task in Model)
            {
                <tr onclick="location.href='@Url.Action("Details","TaskItem", new {Id = task.Id })'">
                    <td>
                        @task.Title
                    </td>
                    <td>@task.Description</td>

                </tr>

            }
        </tbody>

    </table>

}
else
{
    <h3 class="">No tasks exist...</h3>
}


